{% extends "../navbar.html" %}
{% load static %}

{% block content %}

<form method="POST" id="purchase-form">
    {% csrf_token %}
    {{ form.as_p }}

    <h3>Purchase Items</h3>
    <div id="purchase-item-forms">
        {{ purchase_item_formset.management_form }}
        {% for form in purchase_item_formset %}
            <div class="form-row">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>

    <button type="button" id="add-item-button">Add another product</button>
    <button type="submit">Save Purchase</button>
</form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("add-item-button").addEventListener("click", function() {
            var formCount = document.querySelectorAll('.form-row').length;
            var managementForm = document.querySelector("#id_form-TOTAL_FORMS");
            if (!managementForm) {
                console.error("Management form not found!");
                return;
            }

            var newFormCount = parseInt(managementForm.value) + 1;
            managementForm.value = newFormCount;

            var newForm = document.querySelector('.form-row').cloneNode(true);
            var formFields = newForm.querySelectorAll('input, select, textarea');
            formFields.forEach(function(field) {
                var name = field.name;
                var newName = name.replace(/-0-/, `-${newFormCount}-`);
                field.name = newName;
                field.id = "id_" + newName;
            });

            document.getElementById("purchase-item-forms").appendChild(newForm);
        });
    });
</script>

{% endblock %}