<body class="d-flex flex-column ">
    <div class="container">
    <div id="page-content" class="flex-grow-1">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-1">
                    <!-- Your content goes here -->
                </div>
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-2  text-Dark-50 mt-auto fixed-bottom" style="z-index: 100; background-color: #fdf7f7;">
        <div class="container text-center">
            <small>Copyright &copy; PyDev Cloud Team 2025</small>
        </div>
    </footer>
</div>
</body>
