{% extends "navbar.html" %} 


{% load static %}
{% block content %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class=" ">
  <h2>This is Customer list Page</h2>
  <a class="btn btn-primary" href="{% url "create_selles" %}" role="button">Create Selles</a>
<div class="d-flex justify-content-center align-items-center w-100 vh-100">
  
<table class="table table-striped w-100">
  <thead>
    <tr>
      <th>Product</th>
      <th>Customer</th>
      <th>Total Price</th>
      <th>Paid Amount</th>
      <th>Due Amount</th>
      <th>Profit</th>
      <th>Invoice</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for sale in sales %}
    <tr>
      <td>{{ sale.product.name }}</td>
      <td>{{ sale.customer.name }}</td>
      <td>{{ sale.totalPrice }}</td>
      <td>{{ sale.paidAmount }}</td>
      <td>{{ sale.dueAmount }}</td>
      <td>{{ sale.profit }}</td>
      <td>
        <a href="{% url 'purchase_invoice_detail' sale.invoice.id %}"
          >View Invoice</a
        > 
      </td>
      <td>
       <a href="#">Edit</a> |
        <a href="#">Delete</a> 
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">No sales records found.</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
</div>
<!-- Pagination controls -->
<div class="pagination">
  {% if sales.has_previous %}
  <a href="?page=1">&laquo; First</a>
  <a href="?page={{ sales.previous_page_number }}">Previous</a>
  {% endif %}
  <span>Page {{ sales.number }} of {{ sales.paginator.num_pages }}</span>
  {% if sales.has_next %}
  <a href="?page={{ sales.next_page_number }}">Next</a>
  <a href="?page={{ sales.paginator.num_pages }}">Last &raquo;</a>
  {% endif %}
</div>
</div>
</div>
{% endblock content %}


   



