<!-- templates/purchase/sell_list.html -->
{% extends "../navbar.html" %}
{% load static %}
{% block content %}

<h2>This is Sell List Page</h2>
<a class="btn btn-primary mb-3" href="{% url "create_selles" %}" role="button">Create New Sell</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>SL</th>
      <th>Products</th>
      <th>Customer</th>
      <th>Total Products</th>
      <th>Total Amount</th>
      <th>Paid</th>
      <th>Discount</th>
      <th>Due</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for sale in sales %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <ul>
          {% for item in sale.selles_items.all %}
            <li>{{ item.product.name }} = ({{ item.quantity }})</li>
          {% empty %}
            <li>No items</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ sale.customer.name }}</td>
      <td>{{ sale.selles_items.count }}</td>
      <td>{{ sale.totalPrice }}</td>
      <td>{{ sale.paidAmount }}</td>
      <td>{{sale.discountAmount }}</td>
      <td>{{ sale.dueAmount }}</td>
      <td>{{ sale.created_at|date:"d M, Y" }}</td>
      <td>
        <a href="#" class="btn btn-sm btn-warning">Edit</a>
        <a href="#" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a> 
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="9">No sells found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
